on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: publish

jobs:
  release:
    name: release
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cargo/bin
            target
          key: ${{ runner.os }}-release-${{ hashFiles('**/Cargo.lock') }}

      # this is cheaper than requesting the non-minimal profile
      - run: rustup component add rustfmt
      - run: rustup component add clippy

      - name: configure git / crates.io login
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          cargo login "$CRATES_TOKEN"
          cargo install cargo-release
        env:
          CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-cargo
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.cargo/bin
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: publish
        run: cargo release --no-confirm --skip-push patch

      - name: publish git tag
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
